* {
    box-sizing: border-box;
    font-family: Ubuntu, system-ui, 'sans-serif';
}

#output {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

#output > div:last-child {
    margin-bottom: 0;
}

main, #output-wrapper {
    height: 0;
}

.message.me {
    align-self: flex-end;
    background-color: rgb(208, 242, 255);
}

.message {
    width: fit-content;
    background-color: lightgray;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    position: relative;
}

.message.others::after{
    position: absolute;
    content: '';
    display: block;
    height: 0;
    width: 5px;
    border-top: 5px solid transparent;
    border-right: 5px solid lightgray;
    border-bottom: 5px solid transparent;
    left: 0;
    top: 50%;
    transform: translate(-100%, -50%);
}

.message.me::after{
    position: absolute;
    content: '';
    display: block;
    height: 0;
    width: 5px;
    border-top: 5px solid transparent;
    border-left: 5px solid rgb(208, 242, 255);
    border-bottom: 5px solid transparent;
    right: 0;
    top: 50%;
    transform: translate(100%, -50%);
}

#output::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #e0e0e0; /* or add it to the track */
  }
  
#output::-webkit-scrollbar-thumb {
    background: rgb(12, 144, 196);
}